<a href="https://colab.research.google.com/github/fabnancyuhp/CENTRAL/blob/master/AIDE_ETDIANT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
data = pd.read_pickle("/content/credit.pkl")

In [25]:
data['A16'].unique()

array(['+', '-'], dtype=object)

In [26]:
data['A16'].loc[data['A16']=='-'] = 0
data['A16'].loc[data['A16']=='+'] = 1

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [27]:
data['A16'] = data['A16'].astype('int')

In [28]:
data['A16'].unique()

array([1, 0])

In [29]:
X = data[[col for col in list(data) if col != 'A16']]
Y = data['A16']

In [30]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.25)

In [10]:
X_test.head()

        A2      A3     A8  A11    A14  ...  A12_f  A12_t  A13_g  A13_p  A13_s
382  24.33   2.500  4.500  0.0  200.0  ...      1      0      1      0      0
485  74.83  19.000  0.040  2.0    0.0  ...      1      0      1      0      0
685  21.08  10.085  1.250  0.0  260.0  ...      1      0      1      0      0
313  18.58  10.000  0.415  0.0   80.0  ...      1      0      1      0      0
545  44.25  11.000  1.500  0.0    0.0  ...      1      0      0      0      1

[5 rows x 46 columns]

In [32]:
from sklearn.preprocessing import StandardScaler
scal = StandardScaler()
scal.fit(X_train) #On fait le calcul directement sur X 
#mais on peut utiliser aussi fit_transform séparemment sur le train et le test 
X_train_scaled = scal.transform(X_train)
X_test_scaled = scal.transform(X_test)

In [33]:
from sklearn.svm import SVC
clf = SVC(C=1,kernel='linear')

In [34]:
clf.fit(X_train_scaled,Y_train)

SVC(C=1, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [35]:
Y_pred = clf.predict(X_test_scaled)

In [36]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test,Y_pred)

array([[80, 10],
       [ 5, 69]])

In [37]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_pred , Y_test)

0.9085365853658537