<a href="https://colab.research.google.com/github/fabnancyuhp/CENTRAL/blob/master/date.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#class datetime.date(year, month, day)
from datetime import date
date(2020,11,27)

datetime.date(2020, 11, 27)

Dans l'exemple ci-dessus, la fonction prend en entré des nombres comme vous me l'avait dit dans votre mail. Mais la logique apply permet d'utiliser ces fonctions dans le cadre des dataframe pandas. Ci-dessous on crée un dataframe pandas.

In [ ]:
import pandas as pd
dataframe = pd.DataFrame({'annee':[2020,2019,2018],'mois':[10,12,4],'jour':[1,10,24]})
dataframe

   annee  mois  jour
0   2020    10     1
1   2019    12    10
2   2018     4    24

Maintenant on va utiliser la logique apply avec une fonction lambda.

In [ ]:
#On import la fonction date du package datetime
from datetime import date
dataframe['date'] = dataframe[['annee','mois','jour']].apply(lambda x:date(x[0],x[1],x[2]),axis=1)
dataframe['date']

0    2020-10-01
1    2019-12-10
2    2018-04-24
Name: date, dtype: object

Dans le code ci-dessus, le x a cotés du lambda représente les 3 colonnes. x[0] représente l'année, x[1] représente le mois