# Question 7
On va faire un code qui calcule le nombre de semaine différentes entre 2 dates.

In [4]:
#On rentre les 2 dates
from datetime import date
date1 = date(2020,9,8)
date2 = date(2021,1,15)

In [3]:
#Ici on utilise la fonction isocalendar()
date1.isocalendar()
date(2020,9,8).isocalendar()

(2020, 37, 2)

La semaine du 2020/9/8 est la semaine 37 et c'est le jour 2 de la semaine (en python mercredi)

In [7]:
#On liste tous les jours entre date1 et date2 en utilisant pd.date_range. On peut utiliser 
import pandas as pd
pd.date_range(start=date1, end=date2,freq='D')

DatetimeIndex(['2020-09-08', '2020-09-09', '2020-09-10', '2020-09-11',
               '2020-09-12', '2020-09-13', '2020-09-14', '2020-09-15',
               '2020-09-16', '2020-09-17',
               ...
               '2021-01-06', '2021-01-07', '2021-01-08', '2021-01-09',
               '2021-01-10', '2021-01-11', '2021-01-12', '2021-01-13',
               '2021-01-14', '2021-01-15'],
              dtype='datetime64[ns]', length=130, freq='D')

In [8]:
#On applique isocalendar à la list listjour
listjour = pd.date_range(start=date1, end=date2,freq='D')
[o.isocalendar() for o in listjour]

[(2020, 37, 2),
 (2020, 37, 3),
 (2020, 37, 4),
 (2020, 37, 5),
 (2020, 37, 6),
 (2020, 37, 7),
 (2020, 38, 1),
 (2020, 38, 2),
 (2020, 38, 3),
 (2020, 38, 4),
 (2020, 38, 5),
 (2020, 38, 6),
 (2020, 38, 7),
 (2020, 39, 1),
 (2020, 39, 2),
 (2020, 39, 3),
 (2020, 39, 4),
 (2020, 39, 5),
 (2020, 39, 6),
 (2020, 39, 7),
 (2020, 40, 1),
 (2020, 40, 2),
 (2020, 40, 3),
 (2020, 40, 4),
 (2020, 40, 5),
 (2020, 40, 6),
 (2020, 40, 7),
 (2020, 41, 1),
 (2020, 41, 2),
 (2020, 41, 3),
 (2020, 41, 4),
 (2020, 41, 5),
 (2020, 41, 6),
 (2020, 41, 7),
 (2020, 42, 1),
 (2020, 42, 2),
 (2020, 42, 3),
 (2020, 42, 4),
 (2020, 42, 5),
 (2020, 42, 6),
 (2020, 42, 7),
 (2020, 43, 1),
 (2020, 43, 2),
 (2020, 43, 3),
 (2020, 43, 4),
 (2020, 43, 5),
 (2020, 43, 6),
 (2020, 43, 7),
 (2020, 44, 1),
 (2020, 44, 2),
 (2020, 44, 3),
 (2020, 44, 4),
 (2020, 44, 5),
 (2020, 44, 6),
 (2020, 44, 7),
 (2020, 45, 1),
 (2020, 45, 2),
 (2020, 45, 3),
 (2020, 45, 4),
 (2020, 45, 5),
 (2020, 45, 6),
 (2020, 45, 7),
 (2020, 46, 1),
 (2020, 46, 2),
 (2020, 46, 3),
 (2020, 46, 4),
 (2020, 46, 5),
 (2020, 46, 6),
 (2020, 46, 7),
 (2020, 47, 1),
 (2020, 47, 2),
 (2020, 47, 3),
 (2020, 47, 4),
 (2020, 47, 5),
 (2020, 47, 6),
 (2020, 47, 7),
 (2020, 48, 1),
 (2020, 48, 2),
 (2020, 48, 3),
 (2020, 48, 4),
 (2020, 48, 5),
 (2020, 48, 6),
 (2020, 48, 7),
 (2020, 49, 1),
 (2020, 49, 2),
 (2020, 49, 3),
 (2020, 49, 4),
 (2020, 49, 5),
 (2020, 49, 6),
 (2020, 49, 7),
 (2020, 50, 1),
 (2020, 50, 2),
 (2020, 50, 3),
 (2020, 50, 4),
 (2020, 50, 5),
 (2020, 50, 6),
 (2020, 50, 7),
 (2020, 51, 1),
 (2020, 51, 2),
 (2020, 51, 3),
 (2020, 51, 4),
 (2020, 51, 5),
 (2020, 51, 6),
 (2020, 51, 7),
 (2020, 52, 1),
 (2020, 52, 2),
 (2020, 52, 3),
 (2020, 52, 4),
 (2020, 52, 5),
 (2020, 52, 6),
 (2020, 52, 7),
 (2020, 53, 1),
 (2020, 53, 2),
 (2020, 53, 3),
 (2020, 53, 4),
 (2020, 53, 5),
 (2020, 53, 6),
 (2020, 53, 7),
 (2021, 1, 1),
 (2021, 1, 2),
 (2021, 1, 3),
 (2021, 1, 4),
 (2021, 1, 5),
 (2021, 1, 6),
 (2021, 1, 7),
 (2021, 2, 1),
 (2021, 2, 2),
 (2021, 2, 3),
 (2021, 2, 4),
 (2021, 2, 5)]

In [9]:
#On modifie le code au dessus pour extraire les semaines
listjour = pd.date_range(start=date1, end=date2,freq='D')
[o.isocalendar()[1] for o in listjour]

[37,
 37,
 37,
 37,
 37,
 37,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 52,
 52,
 52,
 52,
 52,
 52,
 52,
 53,
 53,
 53,
 53,
 53,
 53,
 53,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2]

In [12]:
#On extrait les semaines unique en utilisant la fonctionnalité set de python
set([o.isocalendar()[1] for o in listjour])

{1, 2, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53}

In [13]:
#il y a 19 semaines différentes:
len(set([o.isocalendar()[1] for o in listjour]))

19

Dans le cadre du devoire vous devez utiliser la logique apply

# Question 9
On donne un exemple de pivot

In [17]:
data_volume = pd.DataFrame([[2018,'lundi',99],[2018,'mardi',15],[2018,'lundi',14],[2018,'mardi',66],[2019,'lundi',44],[2019,'mardi',88],[2018,'mercredi',77],[2019,'mercredi',76]], columns=['annee','jour','volume'])

In [18]:
data_volume

   annee      jour  volume
0   2018     lundi      99
1   2018     mardi      15
2   2018     lundi      14
3   2018     mardi      66
4   2019     lundi      44
5   2019     mardi      88
6   2018  mercredi      77
7   2019  mercredi      76

In [22]:
import numpy as np
pd.pivot_table(data_volume,values=['volume'],index=['annee'],columns=['jour'],aggfunc={'volume':np.sum})

      volume
jour   lundi mardi mercredi
annee
2018     113    81       77
2019      44    88       76